<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="toolbar__icon-button mat-button">
      <mat-icon>web</mat-icon>
      <span style="margin-left: 5px !important;">WEB 425</span>
    </button>
    <button mat-button class="mat-button">
      About
    </button>
    <button mat-button class="mat-button">
      Contact Us
    </button>

    <div fxFlex></div>

    <!-- User Profile -->
    <button class="toolbar_icon-button" [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>perm_contact_calendar</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
  <h2>On-change Events!</h2>
</div>

<div class="textParent" fxLayout>
  <div class="left">
    <h2>Side Navigation
    </h2>
  </div>
  <div class="parent">

    <h2>Parent</h2>
    <div>
      Greeting: <input type="text" [(ngModel)]="myGreeting">
    </div>

    <div>
      User name: <input type="text" [(ngModel)]="myUser.name">
    </div>
    <div class="child">
      <app-child [greeting]="myGreeting" [user]="myUser"></app-child>
    </div>
  </div>
</div>